@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;600;700;800;900&family=Roboto:wght@700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
}
/* common shared */
body {
    font-family: Work Sans;
}

/* navbar */
nav {padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav>ul li {
    display: flex;
    align-items: center;
    margin: 30px;
}

.nav-btn {
    padding: 20px 25px;
    border: 0;
    text-align: center;
    font-size: 1.13rem;
    font-weight: 500;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-btn a {
    text-decoration: none;
    color: #3c325a;
}

.nav-icon {
    /* margin-right: 15px; */
    margin-left: 24px;

}

.pink {
    color: #FF42A5;
}


/* banner-section */
.banner{
    padding: 25px 0px;
}
.banner-title {
    color: #0B0223;
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 600;

    margin-top: 150px;
    margin-bottom: -80px;
}

.banner-goat {
    padding-top: 80px;
    font-size: 5.93rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: -10px;
}

.banner-text {
    color: #534C64;
    /* text-align: center; */
    font-size: 1.25rem;
    font-weight: 500;
    /* text-transform: lowercase; */
}

.pink-btn {
    padding: 20px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    /* margin: 40px 25px; */

}

.sky-blue-btn {
    padding: 20px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}


.banner {
    /* border: 1px solid blue; */
    background-color: #FFF;
    display: flex;
    justify-content: space-around;

}

.banner-content-container {

    background-image: url('../images/group\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    display: flex;
    align-items: center;

}

.banner-content {
    position: relative;
    left: 120px;
}


.banner-img {
    display: flex;
    align-items: center;
}

.banner-img img {
    /* border: 1px solid blue; */
    width: 100%;
}

/* Online games section */

.play-games{
    padding-top: 50px;
}
.online-games-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
}

.Funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.online-games-text {
    color: #534C64;
    text-align: center;
    font-size: 1.13rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 342px;
    height: 300px;
    border-radius: 16px;

    /* Only be added on hover */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}


/* play games section */
.play-games {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    margin-top: 250px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
}

.play-games-img {
    /* border: 1px solid red; */
    display: flex;
}

.play-games-img .big-img {
    /* width: 634.833px; */
    width: 75%;
    height: 100%;
}

.play-games-img .small-img {
    border-radius: 8px;
    /* border: 5px solid #FFF; */
    background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
    height: 60%;
    position: relative;
    top: 290px;
    right: 130px;

    /* top: 365px;
    right: 170px; */
    /* left: 520px;
    bottom: 230px; */
    /* left: 490px;
    bottom: 240px; */

}

.games-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-games-content {
    /* border: 1px solid red; */
    width: 50%;
    /* position: relative;
    left: 10px; */
}

/* game categories section */
.game-categories {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 180px;
    padding-top: 50px;
    padding: 100px 0px;
}
.btn-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.game-categories>ul>li {
    list-style: none;
}

.game-button {
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 50px;
    background: #FFF;
    padding: 10px 15px;
    color: #0B0223;
    font-size: 1.13rem;
    font-weight: 600;
    gap: 16px;
}
.game-button:hover{
    color: #9579d8;
    border-radius: 50%;
    background-color: skyblue;
    cursor: pointer;
}





/* footer */

.footer-section {
    border: 2px solid blue;
    padding-top: 120px;
    background: #0B0223;
}

.footer-section ul {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 55px;
}

.footer-section>ul>li {
    list-style: none;

    color: #FFF;
    font-size: 1.13rem;
    font-weight: 600;
}

.footer-logo {
    justify-content: center;
    margin-bottom: 55px;
    color: #FFF;
}

.footer-section .policy li {
    color: rgba(255, 255, 255, 0.60);
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 500;
}

#copy {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 130px;
    margin-top: 5px;
}
















/* responsive */
@media screen and (max-width:576px) {

    nav,
    nav ul {
        flex-direction: column;
    }


    .banner {
        flex-direction: column-reverse;
        width: 100%;
    }

    .banner-content {
        position: static;
        padding: 45px 0px;
        margin-bottom: 60px;
    }

    .banner-img {
        margin-top: 50px;
        margin-bottom: -50px;
    }

    .banner-content-container {
        margin-top: 5px;
        width: auto;
        background-size: contain;
        background-position: center;
        flex-direction: column;
    }
/* previous.......................................................... */


    /* online games */

    .card-container {
        flex-direction: column;  
        gap: 200px;
        justify-content: center;
        align-items: center;

    }






    /* play games */
    .play-games{
        flex-direction: column;
    }
    .play-games-img .big-img {
        /* justify-content: center; */
        width: 90%;
    }
    .play-games-img .small-img{
        height: 50%;
        width: 40%;
    }
    .games-content-container {
        margin-top: 150px;
    }




/* games category responsive */
.game-button {
    background: #FFF;
    padding: 0;
    color: #0B0223;
    font-size: 1.13rem;
    font-weight: 600;
    gap: 5px;
}
.btn-list{
    flex-direction: column;
}
.list-1{
    margin-bottom: 30px;
}





/* footer resposive */
.footer-section ul{
    flex-wrap: wrap;
    gap: 40px;
    padding-right: 15px
}
.footer-section .icons{
    flex-wrap: wrap;
    gap: 60px;
}
.policy{
    gap: 20px;
}
.footer-section .social{
    gap: 70px;
}

}

@media screen and (min-width:576px) and (max-width:960px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }

    .banner {
        flex-direction: column-reverse;
        width: 100%;
    }

    .banner-content-container {
        width: auto;
    }

    /* previous............................................................... */


    /* online games */
    .card-container {
        flex-direction: column;  
        gap: 200px;
        justify-content: center;
        align-items: center;

    }


    /* play games */
    .play-games{
        flex-direction: column;
    }
    .play-games-content{
        margin-top: 120px;
    }
    /* game category */
    .btn-list{
        flex-direction: column;
    }
    .list-1{
        margin-bottom: 30px;
    }

    /* footer */

    .footer-section ul {
        flex-wrap: wrap;
        padding-right: 20px;

}